.element__like {
    background: url('./element__like.svg');
    border: none;
    width: 22px;
    height: 19px;
}

.element__like:hover {
    opacity: 0.5;
    transition: opacity 0.1s linear;
    cursor: pointer;
}

.element__like:active {
    opacity: 1;
    background: url('./element__like_active.svg');
}