.profile__edit-button {
    grid-area: button;
    background: url('./profile__edit-button.svg');
    background-size: cover;
    width: 24px;
    height: 24px;
    border: none;
    margin-top: 15px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity 0.1s linear;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-top: 8px;
    }
}