.header {
    box-sizing: border-box;
    margin: 45px 0 40px;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
    .header {
        margin: 28px 0 42px;
        min-height: 56px;
    }
}