.popup__close-icon {
    background-image: url('./popup__closeicon.svg');
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(-8px - 32px);
    right: calc(-8px - 32px);
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 581px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        top: calc(-16px - 20px);
        right: 0;
    }
}