.element__like {
    background: url('./element__like.svg');
    border: none;
    width: 22px;
    height: 19px;
    margin-bottom: 3px;
}

.element__like:hover {
    opacity: 0.6;
    transition: opacity 0.1s linear;
    cursor: pointer;
}